button{
    display:block;
    margin: 20px auto;
    background-color: blueviolet;
    color: white;
    padding: 6px 10px;
    border: 0;
}
.popup-wrapper{
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
   position: fixed;
   top:0;
   left:0;
   display: none;
}
.popup{
    font-family: arial;
    text-align: center;
    width:100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 15px;
    background-color: white;
    position: relative;
}
.popup-wrapper a{
    color:white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 15px;
}
.popup-close{
    position:absolute;
    top:1px;
    right:5px;
    cursor: pointer;
}